<a href="https://colab.research.google.com/github/sathamhussain7/task-5/blob/main/takehome_userengagement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import libraries

In [ ]:
import pandas as pd
import numpy as np

load the data

In [ ]:
df1=pd.read_csv('/content/takehome_users.csv', encoding = 'ISO-8859-1')

In [ ]:
df1.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [ ]:
df1.shape

(12000, 10)

In [ ]:
df1=df1.drop_duplicates()

In [ ]:
df1.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
11995    False
11996    False
11997    False
11998    False
11999    False
Length: 12000, dtype: bool

In [ ]:
df1.isnull().sum()

object_id                        0
creation_time                    0
name                             0
email                            0
creation_source                  0
last_session_creation_time    3177
opted_in_to_mailing_list         0
enabled_for_marketing_drip       0
org_id                           0
invited_by_user_id            5583
dtype: int64

In [ ]:
import datetime as dt
from datetime import date

In [ ]:
df1.dtypes

object_id                       int64
creation_time                  object
name                           object
email                          object
creation_source                object
last_session_creation_time    float64
opted_in_to_mailing_list        int64
enabled_for_marketing_drip      int64
org_id                          int64
invited_by_user_id            float64
dtype: object

In [ ]:
df1.creation_time=pd.to_datetime(df1.creation_time)
df1.last_session_creation_time=pd.to_datetime(df1.last_session_creation_time)

In [ ]:
df1.dtypes

object_id                              int64
creation_time                 datetime64[ns]
name                                  object
email                                 object
creation_source                       object
last_session_creation_time    datetime64[ns]
opted_in_to_mailing_list               int64
enabled_for_marketing_drip             int64
org_id                                 int64
invited_by_user_id                   float64
dtype: object

In [ ]:
df1.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.398138810,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1970-01-01 00:00:01.396237504,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1970-01-01 00:00:01.363734892,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.369210168,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.358849660,0,0,193,5240.0

In [ ]:
df2=pd.read_csv('/content/takehome_user_engagement.csv')

In [ ]:
df2.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [ ]:
df2.dtypes

time_stamp    object
user_id        int64
visited        int64
dtype: object

In [ ]:
df2.isnull().sum()

time_stamp    0
user_id       0
visited       0
dtype: int64

In [ ]:
df2.time_stamp=pd.to_datetime(df2.time_stamp)

In [ ]:
df2.dtypes

time_stamp    datetime64[ns]
user_id                int64
visited                int64
dtype: object

In [ ]:
df=df2.copy()

In [ ]:
df.head()

           time_stamp  user_id  visited
0 2014-04-22 03:53:30        1        1
1 2013-11-15 03:45:04        2        1
2 2013-11-29 03:45:04        2        1
3 2013-12-09 03:45:04        2        1
4 2013-12-25 03:45:04        2        1

In [ ]:
df['date']=pd.to_datetime(df.time_stamp.dt.date)

In [ ]:
df.head()

           time_stamp  user_id  visited       date
0 2014-04-22 03:53:30        1        1 2014-04-22
1 2013-11-15 03:45:04        2        1 2013-11-15
2 2013-11-29 03:45:04        2        1 2013-11-29
3 2013-12-09 03:45:04        2        1 2013-12-09
4 2013-12-25 03:45:04        2        1 2013-12-25

In [ ]:
def count(df_group, frequency):
  return df_group.rolling(frequency, on='date')['user_id'].count()

In [ ]:
df['visits'] = df.groupby('user_id', as_index=False, group_keys=False).apply(count, '7D')

In [ ]:
df.head()

           time_stamp  user_id  visited       date  visits
0 2014-04-22 03:53:30        1        1 2014-04-22     1.0
1 2013-11-15 03:45:04        2        1 2013-11-15     1.0
2 2013-11-29 03:45:04        2        1 2013-11-29     1.0
3 2013-12-09 03:45:04        2        1 2013-12-09     1.0
4 2013-12-25 03:45:04        2        1 2013-12-25     1.0

In [ ]:
df[df.visits>2]

                time_stamp  user_id  visited       date  visits
9      2014-02-09 03:45:04        2        1 2014-02-09     3.0
10     2014-02-13 03:45:04        2        1 2014-02-13     3.0
27     2013-02-19 22:08:03       10        1 2013-02-19     3.0
30     2013-03-02 22:08:03       10        1 2013-03-02     3.0
31     2013-03-05 22:08:03       10        1 2013-03-05     3.0
...                    ...      ...      ...        ...     ...
207898 2014-05-23 11:04:47    11988        1 2014-05-23     6.0
207899 2014-05-24 11:04:47    11988        1 2014-05-24     6.0
207900 2014-05-26 11:04:47    11988        1 2014-05-26     5.0
207901 2014-05-27 11:04:47    11988        1 2014-05-27     5.0
207902 2014-06-01 11:04:47    11988        1 2014-06-01     3.0

[160522 rows x 5 columns]

In [ ]:
adopted_user = df.groupby('user_id')['visits'].max().reset_index()

In [ ]:
adopted_user['adopted_user'] = adopted_user['visits'].apply(lambda x: 1 if x>2 else 0)
adopted_user.head()

   user_id  visits  adopted_user
0        1     1.0             0
1        2     3.0             1
2        3     1.0             0
3        4     1.0             0
4        5     1.0             0

In [ ]:
adopted_user.drop('visits', axis=1, inplace =True)
adopted_user.rename(columns = {'user_id':'object_id'}, inplace = True)

In [ ]:
adopted_user.set_index("object_id", inplace = True)

In [ ]:
# Merge adopted users and df to one dataframe
df_takehome = df1.join(adopted_user, on = 'object_id', how = 'left')

In [ ]:
df_takehome.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.398138810,1,0,11,10803.0,0.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1970-01-01 00:00:01.396237504,0,0,1,316.0,1.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1970-01-01 00:00:01.363734892,0,0,94,1525.0,0.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.369210168,0,0,1,5151.0,0.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.358849660,0,0,193,5240.0,0.0

In [ ]:
df_takehome['adopted_user'].fillna(0, inplace = True)
df_takehome['last_session_creation_time'].fillna(0, inplace = True)

In [ ]:
df_takehome['invited_by_user_id'].fillna(0, inplace = True)

In [ ]:
df_takehome.creation_source.value_counts()

ORG_INVITE            4254
GUEST_INVITE          2163
PERSONAL_PROJECTS     2111
SIGNUP                2087
SIGNUP_GOOGLE_AUTH    1385
Name: creation_source, dtype: int64

In [ ]:
df_takehome = pd.get_dummies(df_takehome, columns=['creation_source'])

In [ ]:
df_takehome.head()

,object_id,creation_time,name,email,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user,creation_source_GUEST_INVITE,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,1970-01-01 00:00:01.398138810,1,0,11,10803.0,0.0,1,0,0,0,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,1970-01-01 00:00:01.396237504,0,0,1,316.0,1.0,0,1,0,0,0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,1970-01-01 00:00:01.363734892,0,0,94,1525.0,0.0,0,1,0,0,0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,1970-01-01 00:00:01.369210168,0,0,1,5151.0,0.0,1,0,0,0,0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,1970-01-01 00:00:01.358849660,0,0,193,5240.0,0.0,1,0,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split

X = df_takehome[['object_id','creation_source_GUEST_INVITE','creation_source_ORG_INVITE','creation_source_PERSONAL_PROJECTS','creation_source_SIGNUP','creation_source_SIGNUP_GOOGLE_AUTH',
                 'opted_in_to_mailing_list','enabled_for_marketing_drip','org_id','invited_by_user_id']].values
y = df_takehome['adopted_user']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [ ]:
X_train.shape,X_test.shape

((8400, 10), (3600, 10))

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)

y_pred = dt.predict(X_test)

In [ ]:
y_pred

array([1., 0., 0., ..., 0., 0., 0.])

In [ ]:

from sklearn.metrics import roc_auc_score, accuracy_score

y_pred = dt.predict(X_test)

auc_score = roc_auc_score(y_test, y_pred)

Accuracy_score = accuracy_score(y_test, y_pred)

In [ ]:
print(auc_score)
print(Accuracy_score)

0.5064193548387097
0.7508333333333334

In [ ]:
from sklearn.model_selection import cross_val_score

for depth in [1,2,3,4,5,6,7,8,9,10]:
  dt = DecisionTreeClassifier(max_depth = depth)
  # Fit dt to the training set
  dt.fit(X_train, y_train) # the model is trained
  trainAccuracy = accuracy_score(y_train, dt.predict(X_train)) # this is useless information - i am showing to prove a point
  dt = DecisionTreeClassifier(max_depth=depth) # a fresh model which is not trained yet
  valAccuracy = cross_val_score(dt, X_train, y_train, cv=10) # syntax : cross_val_Score(freshModel,fts, target, cv= 10/5)
  print("Depth  : ", depth, " Training Accuracy : ", trainAccuracy, " Cross val score : " ,np.mean(valAccuracy))

Depth  :  1  Training Accuracy :  0.8673809523809524  Cross val score :  0.8673809523809524
Depth  :  2  Training Accuracy :  0.8673809523809524  Cross val score :  0.8672619047619049
Depth  :  3  Training Accuracy :  0.8675  Cross val score :  0.8672619047619049
Depth  :  4  Training Accuracy :  0.8677380952380952  Cross val score :  0.8670238095238096
Depth  :  5  Training Accuracy :  0.8678571428571429  Cross val score :  0.8667857142857143
Depth  :  6  Training Accuracy :  0.8682142857142857  Cross val score :  0.8658333333333333
Depth  :  7  Training Accuracy :  0.8707142857142857  Cross val score :  0.8636904761904762
Depth  :  8  Training Accuracy :  0.8727380952380952  Cross val score :  0.8611904761904763
Depth  :  9  Training Accuracy :  0.8763095238095238  Cross val score :  0.8585714285714285
Depth  :  10  Training Accuracy :  0.8798809523809524  Cross val score :  0.8550000000000001

In [ ]:
x= df_takehome[['object_id','creation_source_GUEST_INVITE','creation_source_ORG_INVITE','creation_source_PERSONAL_PROJECTS','creation_source_SIGNUP','creation_source_SIGNUP_GOOGLE_AUTH',
                 'opted_in_to_mailing_list','enabled_for_marketing_drip','org_id','invited_by_user_id']]

In [ ]:
x.columns

Index(['object_id', 'creation_source_GUEST_INVITE',
       'creation_source_ORG_INVITE', 'creation_source_PERSONAL_PROJECTS',
       'creation_source_SIGNUP', 'creation_source_SIGNUP_GOOGLE_AUTH',
       'opted_in_to_mailing_list', 'enabled_for_marketing_drip', 'org_id',
       'invited_by_user_id'],
      dtype='object')

In [ ]:
dt.fit(X_train, y_train)
importance=dt.feature_importances_
list(zip(importance,x.columns))

[(0.4475872900323512, 'object_id'),
 (0.0, 'creation_source_GUEST_INVITE'),
 (0.01178918885542143, 'creation_source_ORG_INVITE'),
 (0.04170979600837651, 'creation_source_PERSONAL_PROJECTS'),
 (0.0026130750243284592, 'creation_source_SIGNUP'),
 (0.005719982143799462, 'creation_source_SIGNUP_GOOGLE_AUTH'),
 (0.02657596084369125, 'opted_in_to_mailing_list'),
 (0.024027725892008297, 'enabled_for_marketing_drip'),
 (0.24961731171926232, 'org_id'),
 (0.1903596694807611, 'invited_by_user_id')]